/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #2C2C2C;
    line-height: 1.6;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;

    margin-top: 10rem;

    margin-bottom: 10rem;
}

.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #504170;
    padding: 15px 25px;
    color: #ffffff;
    border-radius: 12px;
}

.account-header h1 {
    font-size: 28px;
    font-weight: bold;
}

.logout {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.logout:hover {
    background-color: #5C5C5C;
}

.section {
    border-radius: 12px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
}

.section h2 {
    font-size: 24px;
    color: #504170;
    margin-bottom: 15px;
}

.info-item {
    margin-bottom: 15px;
}

.info-item p {
    margin-bottom: 5px;
    color: #2C2C2C;
}

.edit-profile, .button, .delete {
    display: inline-block;
    padding: 12px 24px;
    background-color: #504170;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.edit-profile:hover, .button:hover, .delete:hover {
    background-color: #5C5C5C;
}

.order, .address {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.order p, .address p {
    margin-bottom: 10px;
    color: #2C2C2C;
}

.order-header, .address-info, .address-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-details, .address-actions {
    margin-top: 10px;
}

.add-address {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: #504170;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    padding: 14px 24px;
    transition: background-color 0.3s;
}

.add-address:hover {
    background-color: #5C5C5C;
}

.add-address i {
    margin-right: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
