@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* COLOR SCHEME */
    --primary-color: rgb(255, 255, 255);
    --secondary-color: #1c1c1c;
    --tertiary-color: rgb(80, 66, 112);

    --secondary-light-color: rgb(44, 44, 44);
    --secondary-lighter-color: rgb(92, 92, 92);
    --secondary-lightest-color: rgb(185, 185, 185);

    --tertiary-light-color: rgb(208, 199, 228);

    /* FONT SCHEME */
    --title-font: 'Playfair Display', serif;
    --body-font: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 100%;
    min-width: 0;
    height: auto;
    margin-inline: auto;
}